.categories_properties{
    position: absolute;
    background-color: #E7EBED;
    width: 95%;
    height: 80%;
    left: 50%;
    margin-top: 30px;
    translate: -50%;
    border-radius: 5%;
    padding: 20px;
}

/* -----item-------- */
.categories_properties .item{
    display: flex;
    padding: 5px;
    padding-right: 20%;
    padding-left: 5%;
}

.item h3{
    font-weight: 500;
}

.item input{
    border: 0;
    margin-left: 5px;
    background-color: inherit;
    max-width: 400px;
    /* width: 100%; */
    font-size: 16px;
}

.item input:focus{
    outline: 0;
}

.item input::placeholder{
    position: absolute;
    bottom: 0;
}

.item input:disabled{
    background-color: #E7EBED;
    font-size: 18px;
}

.item h5{
    font-weight: 400;
}

/* ----create bolt form */
 .form-add-bolt{
    padding-left: 15px;
}
.bolt-icon{
    height: 20px;
}
.add_bolt > *{
    padding-left: 2px;
}
/* -----submit button------- */
.Btn {
    width: 100px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: none;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    background-color: teal;
  }
  
  .text {
    width: 65%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding-right: 5px;
  }
  
  .btn-icon {
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
  .Btn:hover  {
    background-color: rgb(1, 61, 61);
  }
  